<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ng-controller="ChatsCtrl">
        <button ng-click="getSMS()">getsms</button>
        <ion-list>
          <ion-item ng-repeat="sms in smses">
            <ion-icon name="star" ng-if="sms.read==0"></ion-icon>
            {{sms.address}}
            <p>{{sms.body}}</p>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>